// The majority of the tooltip styles come from a tether helper

@import ../bower_components/tether/src/css/helpers/tether
@import ../bower_components/tether/src/css/helpers/tether-theme-arrows

$themePrefix: "tooltip"
$arrowSize: 8px
$backgroundColor: #000
$color: #eee
$useDropShadow: false

+tether($themePrefix: $themePrefix)
+tether-theme-arrows($themePrefix: $themePrefix, $arrowSize: $arrowSize, $backgroundColor: $backgroundColor, $color: $color, $useDropShadow: $useDropShadow)

// Just a few additions

.#{ $themePrefix }-element.#{ $themePrefix }-theme-arrows
    pointer-events: none

    .#{ $themePrefix }-content
        padding: .5em 1em
